<h1>Habit Tracker</h1>

<form action="/habit/create" method="post">
    <h3>Add New Habit</h3>
    <input type="text" name="name" id="name" placeholder="Type Your Habit" required>
    <input type="text" name="description" id="description" placeholder="Type Some description if needed">
    <div>
        <input type="submit" value="Add Habit">
    </div>
</form>

<%if(locals.user){%>
    <div id="habit-container">
        <%if(habits.length===0){%>
            <p>No Habits Found</p>
            <%}else{%>
                <ul>
                    <%for(habit of habits){%>
                        <li class="habit-item">
                            <div class="habit">
                                <h3 class="habit-name">
                                    <%= habit.name %>
                                </h3>
                                <%if(habit.description){%>
                                    <p class="habit-description">
                                        <%= habit.description %>
                                    </p>
                                    <%}else{%>
                                        <p class="no-description">
                                            No description
                                        </p>
                                        <%}%>
                                            <div class="habit-actions">
                                                <%for(const day of habit.days){%>
                                                    <p class="habit-day">
                                                        <%= day.date %>: <%= day.status %>
                                                    </p>
                                                    <%}%>
                                            </div>
                            </div>
                        </li>
                        <%}%>
                </ul>
                <%}%>
    </div>
    <%}%>