<link rel="stylesheet" href="/css/home.css">
<main>
    <div id="authentication">
        <section id="authentication-container">
            <a href="/login" id="login">Login</a>
            <a href="/register" id="register">Register</a>
        </section>
    </div>
</main>