<h1>Habit Tracker</h1>

<form action="/habit/create" method="post">
    <h3>Add New Habit</h3>
    <input type="text" name="name" id="name" placeholder="Type Your Habit" required>
    <input type="text" name="description" id="description" placeholder="Type Some description if needed">
    <div>
        <input type="submit" value="Add Habit">
    </div>
</form>