<link rel="stylesheet" href="/css/login.css">

<div id="login-container">
    <fieldset>
        <legend>Login</legend>
        <form action="/login" method="post">
            <input type="text" name="email" id="login-email" placeholder="Type Your Email" required>
            <br>
            <div id="controls">
                <input type="submit" value="Login" id="login-submit">
                <br>
                <a href="/register" id="register">Register</a>
            </div>

        </form>
    </fieldset>
</div>