<link rel="stylesheet" href="/css/login.css">

<div id="login-container">
    <fieldset>
        <legend>Login</legend>
        <form action="/login" method="post">
            <input type="text" name="email" id="login-email" placeholder="Type Your Email" required>
            <br>
            <input type="submit" value="Login" id="login-submit">
        </form>
    </fieldset>
</div>