<link rel="stylesheet" href="/css/register.css">

<div id="register-container">
    <fieldset>
        <legend>Register</legend>
        <form action="/register" method="post">
            <input type="text" name="name" id="register-name" placeholder="Type Your Name" required>
            <br>
            <input type="text" name="email" id="register-email" placeholder="Type Your Email" required>
            <br>
            <input type="submit" value="Register" id="register-submit">
        </form>
    </fieldset>
</div>